.write-container{
    padding: 50px;
    .title-box {
        height: 44px;
        display: flex;
        span{
            line-height: 44px;
            margin-right: 20px;
        }
        input{
            line-height: 44px;
            flex: 1;
            padding: 0 16px;
        }
    }
    .markdown-body{
        margin: 20px 0;
    }
    .footer-box{
        height: 30px;
        * {
            height: 30px;
        }
    }
    .btn-submit{
        float: right;
    }
}
