.write-container{
    padding: 50px;
    color: #fff;
    min-height: calc(100vh - 160px);
    .title-box {
        height: 44px;
        display: flex;
        span{
            line-height: 44px;
            margin-right: 20px;
            color: #fff;
        }
        input{
            line-height: 44px;
            flex: 1;
            padding: 0 16px;
        }
    }
    .markdown-body{
        margin: 20px 0;
    }
    .footer-box{
        height: 30px;
        * {
            height: 30px;
        }
        .div1,.div2{
            display: inline-block;
            margin-right: 30px;
        }
    }
    .btn-submit{
        float: right;
        padding: 0 30px;
    }
}
