.articlewrite-container{
    padding-bottom: 30px;
    .write-container{
        margin: 50px 50px 0;
        background: #fff;
        .title-box {
            height: 44px;
            font-size: 25px;
            font-weight: 700;
            padding: 25px;
            display: flex;
            span{
                line-height: 44px;
                margin-right: 20px;
            }
            input{
                line-height: 44px;
                flex: 1;
                padding: 0 16px;
            }
        }
        .markdown-body{
            margin: 20px 0;
        }
        .footer-box{
            height: 30px;
            * {
                height: 30px;
            }
            .div1,.div2{
                display: inline-block;
                margin-right: 30px;
            }
        }
        .btn-submit{
            float: right;
        }
    }
}
